body a {
    transition: all 0.5s ease 0s;
}
.checkout h2 {
    font-size: 1em;
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    margin: 0px 0px 3em;
}
.checkout h2 span {
    color: rgb(51, 153, 204);
}
table.timetable_sub {
    width: 100%;
    margin: 0px auto;
}
.timetable_sub thead {
    background: rgb(0, 66, 132);
}
.timetable_sub th {
    background: rgb(33, 33, 33);
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid rgb(222, 210, 210);
    color: rgb(255, 255, 255) !important;
}
.timetable_sub th,
.timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 16px;
    color: rgb(134, 130, 130);
}
.timetable_sub td {
    border: 1px solid rgb(205, 205, 205);
}
td.invert-image a img {
    width: 30%;
    margin: 0px auto;
}
.rem {
    position: relative;
}
.close1,
.close2,
.close3 {
    background: 0px 0px no-repeat;
    cursor: pointer;
    width: 41px;
    height: 39px;
    position: absolute;
    right: 6px;
    top: -23px;
    transition: color 0.2s ease-in-out 0s;
}
.value-minus,
.value-plus {
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    user-select: none;
    border: 1px solid rgb(178, 178, 178);
    vertical-align: bottom;
}
.quantity-select .entry.value-minus::before,
.quantity-select .entry.value-plus::before {
    content: "";
    width: 13px;
    height: 2px;
    background: rgb(0, 0, 0);
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -0.5px;
    position: absolute;
}
.quantity-select .entry.value-plus::after {
    content: "";
    height: 13px;
    width: 2px;
    background: rgb(0, 0, 0);
    left: 50%;
    margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
    position: absolute;
}
.value {
    cursor: default;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    color: rgb(169, 169, 169);
    line-height: 24px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(229, 229, 229);
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
.quantity-select .entry.value-plus:hover {
    background: rgb(229, 229, 229);
}
.quantity-select .entry.value-minus {
    margin-left: 0px;
}
.checkout-right h4,
.address_form h4 {
    font-size: 1.1em;
    margin: 1em 0px;
    letter-spacing: 1px;
    color: rgb(136, 136, 136);
}
.checkout-left-basket h4 {
    padding: 1em;
    background: rgb(255, 78, 0);
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 2em;
}
.checkout-left {
    margin: 2em 0px 0px;
}
.checkout-left-basket ul li {
    list-style-type: none;
    margin-bottom: 1em;
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.checkout-left-basket {
    float: left;
    padding-left: 0px;
}
.checkout-right-basket {
    float: right;
    margin: 3em 0em;
}
.checkout-left-basket ul li span {
    float: right;
}
.checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: rgb(33, 33, 33);
    font-weight: 600;
    padding: 1em 0px;
    border-top: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: 2em 0px 0px;
}
.checkout-right-basket a {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    background: rgb(33, 33, 33);
    text-decoration: none;
}
.checkout-right-basket a:hover {
    background: rgb(255, 78, 0);
}
.checkout-right-basket a span {
    left: -0.5em;
    top: 0.1em;
}
.checkout {
    padding: 5em 0px;
}
.address_form {
    float: right;
}
.information-wrapper input {
    width: 100% !important;
}
.check_box_one.cashon_delivery {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.agileits-login label {
    font-size: 1em;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
input.checkbox {
    background: rgb(33, 33, 33);
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    margin: 0px 5px 0px 0px;
    vertical-align: text-bottom;
}
.check_tab2 input[type="email"],
.check_tab2 input[type="password"],
.creditly-wrapper .form-control {
    display: block;
    width: 95.5%;
    padding: 15px 10px;
    font-size: 14px;
    color: rgb(33, 33, 33);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: 25px;
    outline: none;
}
.pay_info {
    padding: 3em 2em;
}
.pay_info input[type="email"],
.pay_info input[type="password"],
.creditly-wrapper .form-control {
    display: block;
    width: 95.5%;
    padding: 15px 10px;
    font-size: 14px;
    color: rgb(33, 33, 33);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: 25px;
    outline: none;
}
.pay_info input[type="email"]:focus,
.pay_info input[type="password"]:focus,
.creditly-wrapper .form-control:focus {
    border-color: rgb(102, 175, 233);
    outline: 0px;
}
.pay_info input[type="submit"] {
    display: block;
    position: relative;
    padding: 12px 50px;
    letter-spacing: 3px;
    background: rgb(51, 51, 51);
    font-size: 1em;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(51, 51, 51);
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}
.pay_info input[type="submit"]:hover {
    background: rgb(8, 8, 8);
    border: 1px solid rgb(8, 8, 8);
}
.agileinfo_main_grid_left_grid h3 {
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}
.agileinfo_main_grid_left_grid ul {
    margin-top: 1.5em;
}
.agileinfo_main_grid_left_grid ul li {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2em;
    vertical-align: top;
}
.agileinfo_main_grid_left_grid ul li span {
    display: block;
    font-size: 0.5em;
    color: rgb(153, 153, 153);
}
.agileinfo_main_grid_left_grid ul li:first-child {
    width: 70%;
    border-right: 1px solid rgb(153, 153, 153);
}
.agileinfo_main_grid_left_grid ul li:last-child {
    padding-left: 1em;
    text-align: right;
}
.agile_amount {
    padding: 1em 2em;
    background: rgb(247, 25, 38);
}
.agile_amount h3 {
    font-size: 1.3em;
    color: rgb(255, 255, 255);
}
.agile_amount h4 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.agile_amount p {
    font-size: 1em;
    color: rgb(26, 222, 237);
    line-height: 1.8em;
}
img.pp-img {
    width: 65%;
}
.tab-grid p {
    color: rgb(139, 139, 139);
    font-size: 0.95em;
    line-height: 1.8em;
    font-weight: 400;
    margin: 10px 0px;
}
a.btn.btn-primary {
    background-color: rgb(58, 87, 149);
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    border: none;
}
.vertical_post h5 {
    color: rgb(33, 33, 33);
    font-size: 15px;
    margin: 0px 0px 18px;
    letter-spacing: 1px;
}
.swit-radio label {
    font-size: 16px;
    color: rgb(105, 105, 105);
    padding: 0px 0px 0px 10px;
    font-weight: 400;
}
.radio_one:first-child {
    margin: 0px;
}
.radio_one {
    padding-left: 22px;
    line-height: 28px;
    color: rgb(64, 64, 64);
    cursor: pointer;
}
.radio_one {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
.section_room_pay select {
    padding: 6px 10px;
    width: 33%;
    border: 1px solid rgb(230, 228, 228);
    color: rgb(210, 209, 209);
    outline: none;
    font-size: 16px;
    margin-bottom: 0px;
    background-image: initial;
    background-position: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    appearance: none;
    background-size: 4% !important;
}
select.form-control.option-w3ls {
    width: 100%;
    padding: 1em;
    font-size: 0.8em;
    margin: 0.5em 0px;
    outline: none;
    color: rgb(33, 33, 33);
    border: 1px solid rgb(204, 204, 204);
    letter-spacing: 1px;
    text-align: left;
    height: auto !important;
}
.checkout-right-basket span {
    margin-left: 1em;
}
.check_box_one {
    float: left;
    width: 22%;
    margin-bottom: 10px;
}
.form-control {
    border-radius: 0px;
}
.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(132, 198, 57);
    border-color: rgb(132, 198, 57);
    border-radius: 0px;
}
button.submit.check_out {
    display: block;
    position: relative;
    padding: 11px 30px;
    letter-spacing: 1px;
    background: rgb(33, 33, 33);
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
    outline: none;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
    cursor: pointer;
}
.section_room_pay {
    margin-bottom: 2em;
}
@media (max-width: 384px) {
    .timetable_sub th,
    .timetable_sub td {
        text-align: center;
        color: rgb(134, 130, 130);
        padding: 3px !important;
        font-size: 14px !important;
    }
    .close1,
    .close2,
    .close3 {
        background: 0px 0px no-repeat;
        cursor: pointer;
        width: 41px;
        height: 39px;
        position: absolute;
        right: -1px;
        top: -23px;
    }
}
