.nav-link.ml-lg-0 {
    color: #828284;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0em 0.5em;
    padding: 10px 25px;
    text-transform: uppercase;
}

.cart-inner-info li {
    padding: 0;
}

